{% extends 'base.html' %}

{% block meta_title %}
    Marmut Page
{% endblock meta_title %}

{% block content %}
<!-- background color -->
<head>
    <style>
        body{background-color: #a08679;}
        .center-text {
            text-align: center;
        }
    </style>
</head>

<div class="container mt-4">
    <div class="card">
        <div class="card-body center-text">
            <h1 class="mb-4" style="color: black;">Welcome to Marmut Dashboard</h1>
            <!-- Tambahkan tombol search bar di sini -->
            <a href="{% url 'downloaded_songs:search_bar' %}" class="btn btn-primary">Find our song, podcast, and playlist</a>
        </div>
    </div>
</div>

{% endblock content %}
