{% extends 'base.html' %}

{% block meta_title %}
    Marmut Page
{% endblock meta_title %}

{% block content %}
<nav class="navbar navbar-expand-lg" style="background-color: #d8cbc4;">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Marmut</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" href="#">Playlist</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" href="#">Podcast</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" href="{% url 'authentication:logout' %}">Logout</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown link
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <!-- background color -->
    <head>
    <style>
        body{background-color: #a08679;}
        .center-text {
        text-align: center;
    }
    </style>
    </head>

    <h1 class="center-text">Marmut Page</h1>

    <h5>Name: </h5>
    <p>{{name}}</p> 
    <h5>Class: </h5>
    <p>{{class}}</p>
{% endblock content %}
