<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Episode</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>DAFTAR EPISODE PADA PODCAST1</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Judul Episode</th>
                    <th>Deskripsi</th>
                    <th>Durasi</th>
                    <th>Tanggal</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Podcast Halo</td>
                    <td>Raditya Dika</td>
                    <td>60 menit</td>
                    <td>21/10/2021</td>
                    <td><a href="#">[Hapus]</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
