<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Podcast</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>LIST PODCAST</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Judul</th>
                    <th>Jumlah Episode</th>
                    <th>Total Durasi</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Podcast Hai</td>
                    <td>10</td>
                    <td>150 menit</td>
                    <td>
                        <a href="#">[Lihat Daftar Episode]</a><br>
                        <a href="#">[Tambah]</a><br>
                        <a href="#">[Hapus]</a>
                    </td>                    
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
