{% extends 'base.html' %}

{% block meta_title %}
    Marmut Page
{% endblock meta_title %}

{% block content %}
<!-- Start navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Marmut</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Playlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Podcast</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'authentication:logout' %}">Logout</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown link
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" action="{% url 'downloaded_songs:search_bar' %}" method="GET">    
                <input class="form-control me-2" type="search" name="query" placeholder="Apa yang mau dicari" aria-label="Search">
                <button class="btn btn btn-primary" type="submit">Cari</button>
            </form>
            
        </div>
    </div>
  </nav>
<!-- End navbar -->

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <div style="text-align: center;">
                <h3>Langganan Paket</h3>
                <a href="{% url 'langganan:show_riwayat' %}">Riwayat Langganan</a>
            </div>
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th scope="col">Jenis</th>
                        <th scope="col">Harga</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1 Bulan</td>
                        <td>Rp10.000</td>
                        <td style="position: relative;" >
                            <div style="position: absolute; top: 0;">
                                <a href="{% url 'langganan:show_pembayaran' %}">Berlangganan</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3 Bulan</td>
                        <td>Rp20.000</td>
                        <td style="position: relative;" >
                            <div style="position: absolute; top: 0;">
                                <a href="#">Berlangganan</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>6 Bulan</td>
                        <td>Rp30.000</td>
                        <td style="position: relative;" >
                            <div style="position: absolute; top: 0;">
                                <a href="#">Berlangganan</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>1 Tahun</td>
                        <td>Rp40.000</td>
                        <td style="position: relative;" >
                            <div style="position: absolute; top: 0;">
                                <a href="#">Berlangganan</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    
{% endblock content %}
