{% extends 'base.html' %}

{% block meta_title %}
    Marmut Page
{% endblock meta_title %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <div style="text-align: center;">
                <h3>Langganan Paket</h3>
                <a href="{% url 'langganan:show_transactions' %}">Riwayat Langganan</a>
            </div>
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th scope="col">Jenis</th>
                        <th scope="col">Harga</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paket in pakets %}
                    <tr>
                        <td>{{ paket.0 }}</td>
                        <td>{{ paket.1 }}</td>
                        <td style="position: relative;">
                            <div style="position: absolute; top: 0;">
                                <form method="post" action="{% url 'langganan:show_pembayaran' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="jenis_paket" value="{{ paket.0 }}">
                                    <input type="hidden" name="harga_paket" value="{{ paket.1 }}">
                                    <button type="submit" class="btn btn-outline-primary btn-sm">Berlangganan</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
