{% extends 'base.html' %}

{% block meta_title %}
    Marmut Page
{% endblock meta_title %}

{% block content %}
<div class="container mt-4">
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <h1 class="text-center mb-4" style="color: black;">Pembayaran Paket</h1>
    <h4 class="text-left mb-4" style="color: black;">Informasi paket yang ingin dibeli:</h4> 
    <div class="card">
        <div class="card-body">
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th scope="col">Jenis</th>
                        <th scope="col">Harga</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ jenis_paket }}</td>
                        <td>{{ harga_paket }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h5 class="text-left mt-4 mb-2" style="color: black;">Metode Pembayaran:</h5>
    <div class="mt-4">
        <form method="post" action="{% url 'langganan:purchase_subscription' %}">
            {% csrf_token %}
            <input type="hidden" name="jenis_paket" value="{{ jenis_paket }}">
            <input type="hidden" name="harga_paket" value="{{ harga_paket }}">
            <div class="dropdown">
                <select name="metode_bayar" class="form-control">
                    <option value="Gopay">Gopay</option>
                    <option value="Transfer">Transfer</option>
                    <option value="Ovo">Ovo</option>
                </select>
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}