{% extends 'base.html' %}

{% block meta_title %}
    Marmut Page
{% endblock meta_title %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <div style="text-align: center;">
                <h3>Riwayat Transaksi Paket</h3>
            </div>
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th scope="col">Jenis</th>
                        <th scope="col">Email</th>
                        <th scope="col">Tanggal Dimulai</th>
                        <th scope="col">Tanggal Berakhir</th>
                        <th scope="col">Metode Pembayaran</th>
                        <th scope="col">Nominal</th>
                    </tr>
                </thead>
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.0 }}</td>
                        <td>{{ transaction.1 }}</td>
                        <td>{{ transaction.2 }}</td>
                        <td>{{ transaction.3 }}</td>
                        <td>{{ transaction.4 }}</td>
                        <td>{{ transaction.5 }}</td>
                        <td>{{ transaction.6 }}</td>
                    </tr>
                    {% endfor %}
            </table>
            <div style="text-align: center;">
                <a href="{% url 'langganan:show_paket_langganan' %}">Kembali</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
