{% extends 'base.html' %}

{% block meta%}
    <title>Album {{ name }}</title>
{% endblock meta%}

{% block content %}
<html lang="en">
<head>
    <style>
    .tabel {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 10%; 
        padding-bottom: 10%;
    }

    thead th {
        background-color: #f2f2f2;
    }

    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    thead th, tbody td {
        padding: 15px;
        text-align: center;
    }

    table, th, td {
        border: 1px solid black;
    }
    </style>
</head>

<body>
    <div class="tabel">
        <table>
            <thead>
                {% if showed_album %}
                <tr>
                    <th colspan="4">LIST ALBUM</th>
                </tr>
                <tr>
                    <th>Judul</th>
                    <th>Jumlah Lagu</th>
                    <th>Total Durasi</th>
                    <th>Action</th>
                </tr> 
            </thead> 
            <tbody> 
                {% for album in showed_album %}
                <tr> 
                    <td>{{album.1}}</td> 
                    <td>{{album.2}}</td> 
                    <td>{{album.4}}</td> 
                    <td>
                        <a href= "{% url 'album_song:show_song' %}?album_id={{ album.0 }}" class="btn btn-primary me-3">
                            Lihat
                        </a>
                        <a href="{% url 'album_song:delete_album' %}?album_id={{ album.0 }}" class="btn btn-danger">
                            Hapus
                        </a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                    <h2>Label Anda Belum Memiliki Album</h2>
                {% endif %}
            </tbody>
        </table>
    </div>
</body>

</html>
{% endblock content %}