{% extends 'base.html' %}

{% block meta_title %}
    Marmut Page
{% endblock meta_title %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4" style="color: black;">Downloaded Songs Page</h1>
    <div class="card">
        <div class="card-body">
            <div style="text-align: center;">
                <h3>Judul Lagu</h3>
            </div>
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th scope="col">Judul</th>
                        <th scope="col">Oleh</th>
                        <th scope="col">Tanggal download</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for song in songs %}
                    <tr>
                        <td>{{ song.judul }}</td>
                        <td>{{ song.oleh }}</td>
                        <td>{{ song.tanggal_download }}</td>
                        <td style="position: relative;">
                            <div style="margin-bottom: 0px;">
                                <form action="{% url 'kelola_playlist:song_detail' song.id_playlist song.id %}" method="get">
                                    <button type="submit" class="btn btn-link">Lihat</button>
                                </form>
                            </div>
                            <div>
                                <form action="{% url 'downloaded_songs:delete_downloaded_song' song.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-link">Hapus</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">No downloaded songs found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div style="text-align: center;">
                <a href="{% url 'authentication:show_landing' %}">Kembali</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}