{% extends 'base.html' %}

{% block meta_title %}
    Marmut Page
{% endblock meta_title %}

{% block content %}
<!-- Start navbar -->
<nav class="navbar navbar-expand-lg" style="background-color: #d8cbc4;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Marmut</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Playlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Podcast</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'authentication:logout' %}">Logout</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown link
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">    
                <input class="form-control me-2" type="search" placeholder="Apa yang mau dicari" aria-label="Search">
                <button class="btn btn btn-outline-light" type="submit">Cari</button>
            </form>
        </div>
    </div>
  </nav>
<!-- End navbar -->

    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <div style="text-align: center;">
                    <h3>Hasil Pencarian "Bandung"</h3>
                </div>
                <table class="table custom-table">
                    <thead>
                        <tr>
                            <th scope="col">Tipe</th>
                            <th scope="col">Judul</th>
                            <th scope="col">Oleh</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SONG</td>
                            <td>Bandung</td>
                            <td>Yura Yunita</td>
                            <td style="position: relative;">
                                <div style="position: absolute; top: 0;">
                                    <a href="#">Lihat</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>SONG</td>
                            <td>Dan Bandung</td>
                            <td>Pidi Baiq</td>
                            <td style="position: relative;" >
                                <div style="position: absolute; top: 0;">
                                    <a href="#">Lihat</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>SONG</td>
                            <td>Kembali Ke Bandung</td>
                            <td>Kahitna</td>
                            <td style="position: relative;" >
                                <div style="position: absolute; top: 0;">
                                    <a href="#">Lihat</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>PODCAST</td>
                            <td>Bandung Tanpa Kamu</td>
                            <td>Vhie Saleindra</td>
                            <td style="position: relative;" >
                                <div style="position: absolute; top: 0;">
                                    <a href="#">Lihat</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>USER PLAYLIST</td>
                            <td>Bandung dan Hujan</td>
                            <td>eriinera</td>
                            <td style="position: relative;" >
                                <div style="position: absolute; top: 0;">
                                    <a href="#">Lihat</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>    
    </div>

    <!-- case pencarian tidak berhasil -->
    <style>
        .container {
            height: 90vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .center-box {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
        }
    
        .content {
            text-align: center;
        }
    </style>
    </head>
    <body>
    
    <div class="container">
        <div class="center-box">
            <div class="content">
                Maaf, pencarian untuk "Depok" tidak ditemukan
            </div>
        </div>
    </div>    
    
    <!-- background color -->
    <head>
        <style>
            body{background-color: #a08679;}
            .center-text {
            text-align: center;
        }
        </style>
        </head>
    </div>
    
{% endblock content %}
