{% extends 'base.html' %}

{% block meta_title %}
    Search Results
{% endblock meta_title %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4" style="color: black;">Hasil pencarian "{{ query }}"</h2>
    <div class="card">
        <div class="card-body">
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th scope="col">Tipe</th>
                        <th scope="col">Judul</th>
                        <th scope="col">Oleh</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                    <tr>
                        <td>{{ result.type }}</td>
                        <td>{{ result.title }}</td>
                        <td>{{ result.by }}</td>
                        <td><a href="{{ result.url }}" class="btn btn-outline-primary btn-sm">Lihat</a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">No results found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if message %}
                <div class="mt-4 text-center">
                    <p>{{ message }}</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}