{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="playlist-box">
        <h2 class="text-center">User Playlist</h2>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Judul</th>
                        <th scope="col">Jumlah Lagu</th>
                        <th scope="col">Total Durasi</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for playlist in playlists %}
                    <tr>
                        <td>{{ playlist.judul }}</td>
                        <td>{{ playlist.jumlah_lagu }}</td>
                        <td>{{ playlist.total_durasi_jam }} jam {{ playlist.total_durasi_menit }} menit</td>
                        <td>
                          <div class="text-center mb-2"> <a href="{% url 'kelola_playlist:playlist_detail' playlist.id %}" class="btn btn-primary">Detail</a> </div>
                          <div class="text-center mb-2"> <a href="{% url 'kelola_playlist:update_playlist' playlist.id %}" class="btn btn-secondary">Ubah</a> </div>
                          <div class="text-center mb-2">
                            <form action="{% url 'kelola_playlist:delete_playlist' playlist.id %}" method="post" style="display:inline;">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-danger" onclick="return confirm('Apakah Anda yakin ingin menghapus playlist ini?')">Hapus</button>
                            </form>
                          </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">Anda Belum Memiliki Playlist</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <p class="text-center">
            <a href="{% url 'kelola_playlist:add_playlist' %}" class="btn btn-success">Tambah Playlist</a>
        </p>
    </div>
</div>
{% endblock %}
