{% extends 'base.html' %}

{% block meta%}
    <title>{{nama_user}}</title>
{% endblock meta%}

{% block content %}
<html lang="en">
<head>
    <style>
    .tabel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:  center; 
        padding-top: 10%; 
        padding-bottom: 10%;
    }

    thead th {
        background-color: #f2f2f2;
    }

    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    thead th, tbody td {
        padding: 15px;
        text-align: center;
    }

    table, th, td {
        border: 1px solid black;
    }
    </style>
</head>

<body>
    <div class="tabel">
        <a href="{% url 'kelola_alsong:show_create_album' %}" class="btn btn-primary mb-3">
            Buat Album Baru
        </a>
        <table>
            <thead>
                <tr>
                    <th colspan="5">LIST ALBUM</th>
                </tr>
                <tr>
                    <th>Judul</th>
                    <th>Label</th>
                    <th>Jumlah Lagu</th>
                    <th>Total Durasi</th>
                    <th>Action</th>
                </tr> 
            </thead> 
            <tbody> 
                {% for album in list_album %}
                <tr> 
                    <td>{{album.1}}</td> 
                    <td>{{album.5}}</td> 
                    <td>{{album.3}}</td> 
                    <td>{{album.4}}</td> 
                    <td>
                        <a href= "{% url 'kelola_alsong:show_kelola_song' album_id=album.0  %}" class="btn btn-primary me-3">
                            Lihat
                        </a>
                        <a href= "{% url 'kelola_alsong:show_create_song' %}?album_id={{ album.0 }}" class="btn btn-success me-3">
                            Tambah Lagu
                        </a>
                        <a href="{% url 'kelola_alsong:delete_album' %}?album_id={{ album.0 }}" class="btn btn-danger">
                            Hapus
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>
{% endblock content %}