{% extends 'base.html' %}

{% block meta%}
    <title>Royalti</title>
{% endblock meta%}

{% block content %}
<html lang="en">
<head>
    <style>
    .tabel {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 10%; 
        padding-bottom: 10%;
    }

    thead th {
        background-color: #f2f2f2;
    }

    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    thead th, tbody td {
        padding: 15px;
        text-align: center;
    }

    table, th, td {
        border: 1px solid black;
    }
    </style>
</head>

<body>
<div class="tabel">
    <table>
        <thead>
            <tr>
                <th colspan="5">LIST ROYALTI</th>
            </tr>
            <tr>
                <th>Judul Lagu</th>
                <th>Judul Album</th>
                <th>Total Play</th>
                <th>Total Download</th>
                <th>Total Royalti Didapat</th>
            </tr> 
        </thead> 
        <tbody> 
            {% for royalti in royalti%}
            <tr> 
                <td>{{royalti.6}}</td> 
                <td>{{royalti.5}}</td> 
                <td>{{royalti.3}}</td> 
                <td>{{royalti.4}}</td> 
                <td>{{royalti.1}}</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
{% endblock content %}